.kosong {
    display: none;
}

.backgroundImage{
    background: url('../Images/background.jpg') no-repeat;
    background-size: cover;
    background-position: center;     
}

.textOnImage{
    color: white;
    font-size: 2vw;
    padding-top: 29%;
    padding-bottom: 9%;
    /* padding-left: 31%; */
    text-align: center;
}


/* SECTION MENGAPA LIBURIN */

.first-style {
    text-align: center;
    margin-top: 30px;    
}

.mainContainer {
   
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 10px auto;
    /* background-color: burlywood; */
}

.kolomInfo {
    width: 20%;
    height: auto;
    margin: 20px;
    box-sizing: border-box;
    color: #495b5f;
}

div > h3 {
    margin-top: 10px;
}

.iconSearch {
    width: 12vw;
    height: 20vh;
}

/* SECTION DESTINASI TERBAIK */

.kolomDestinasi {
    width: 20%;
    height: auto;
    margin: 20px;
    box-sizing: border-box;
    color: whitesmoke;
    position: relative;
    line-height: 200px;

}

.cityImages {
    width: 19.8vw;
    height: 42vh;
    border-radius: 15px;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(9, 9, 9, 0.3);
    width: 19.8vw;
    height: 80px;
    border-radius: 15px;
    transition: .9s ease;
    overflow: hidden;
    text-align: left;
    padding: 15px 0 0 30px;
    color: whitesmoke;
}

    .kolomDestinasi:hover .overlay {
        height: 42vh;
        background-color:rgba(9, 9, 9, 0.8);
    }

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 65%;
  margin: 10px auto;
  position: relative;
}

.flex-container > div {
    width: 220px;
    margin: 10px 15px 0px 0px;
    text-align: center;
    font-size: 30px;
  }

  .cardCity {
    width: 14.3vw;
     height: 20vh;
  }

  .boxcard {
      position: relative;
  }

  .textOnCard {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     font-weight: 900;
     font-size: 20px;
     letter-spacing: 1px;
     color: white   

  }

  #buttonBuy {
    margin-bottom: 300px;
}

/* SECTION FIVE PETA INDONESIA */

.textOnBanner {
    color: white;
    font-size: 2vw;
    text-align: center;
    margin-left: 30%;
    box-sizing: border-box;
}

.textOnBanner ul li{
    display: inline-block;
    margin: 52px 50px;
}

.section-five {
    background: url('../Images/petaindonesia.jpg') no-repeat;
    margin-top: 50px;
    background-size: 100%;
    height: 226px;
}



@media only screen and (min-width:375px) and (max-width: 376px) {
    .kolomInfo {
        width: 80%;
        /* background-color: yellow; */
    }
    .kolomInfo h3 {
        font-size: 5vw;
    }
    .iconSearch {
        width: 35vw;
    }
    .kolomDestinasi {
        width: 85%;
    }
    .cityImages {
        width: 70vw;
    }
    .textOnImage h1{
        font-size: 5vw;
        color: white;
        text-align: center;
    }
    .textOnImage p{
        font-size: 3vw;
    }
    .mobileOverlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color:rgba(9, 9, 9, 0.8);
        width: 70vw;
        height: 80px;
        border-radius: 15px;
        transition: .9s ease;
        margin-left: 27.5px;
    }

    .kolomDestinasi:hover .overlay {
        height: 280px;
        background-color:rgba(9, 9, 9, 0.8);
    }
    
    .kosong {
        display: block;
    }
    .cardCity {
        width: 80%;
         height: 20vh;
         background-color: turquoise;
      }
    
}
    

@media only screen and (min-width:377px) and (max-width: 600px) {
        .kolomInfo {    
            width: 50%;
            background-color: fuchsia;
        }
    }
    
    
    /* @media only screen and (min-width:601px) and (max-width: 1000px) {
        .kolom {
            width: 30%;
            background-color: gold;
        }
    } */

    @media (min-width:600px) {
        .kolomInfo h1{
           font-size: 16px;
        }
        .kolomInfo h3 {
            font-size: 10px;
        }
    }

    @media (min-width:1001px) {
        .kolomInfo h1{
           font-size: 24px;
        }
        .kolomInfo h3 {
            font-size: 14px;
            text-align: center;
        }
    }
    
    


